# Instacart Market Basket Analysis

### Read in the data

In [1]:
# data_path <- "C:/Users/joseph.chen/MyData/Kaggle/instacart/"
data_path <- read.table("data/README.txt")$V1

In [2]:
paste(data_path,"orders.csv", sep="")

[1] "C:\\Users\\joseph.chen\\MyData\\Kaggle\\instacart\\orders.csv"

In [3]:
orders <- read.csv(paste(data_path,"orders.csv", sep=""))
products <- read.csv(paste(data_path,"products.csv", sep=""))
order_products <- read.csv(paste(data_path,"order_products__train.csv", sep=""))
order_products_prior <- read.csv(paste(data_path,"order_products__prior.csv", sep=""))
aisles <- read.csv(paste(data_path,"aisles.csv", sep=""))
departments <- read.csv(paste(data_path,"departments.csv", sep=""))

### Peek at the dataset

In [4]:
head(orders,3)

  order_id user_id eval_set order_number order_dow order_hour_of_day
1 2539329  1       prior    1            2          8
2 2398795  1       prior    2            3          7
3  473747  1       prior    3            3         12
  days_since_prior_order
1 NA
2 15
3 21

In [5]:
head(products,3)

  product_id product_name                         aisle_id department_id
1 1          Chocolate Sandwich Cookies            61      19
2 2          All-Seasons Salt                     104      13
3 3          Robust Golden Unsweetened Oolong Tea  94       7

In [7]:
head(order_products,3)

  order_id product_id add_to_cart_order reordered
1 1        49302      1                 1
2 1        11109      2                 1
3 1        10246      3                 0

In [8]:
head(order_products_prior,3)

  order_id product_id add_to_cart_order reordered
1 2        33120      1                 1
2 2        28985      2                 1
3 2         9327      3                 0

In [9]:
head(aisles,3)

  aisle_id aisle
1 1        prepared soups salads
2 2        specialty cheeses
3 3        energy granola bars

In [10]:
head(departments,3)

  department_id department
1 1             frozen
2 2             other
3 3             bakery

In [14]:
library(dplyr)

ERROR: Error in library(dplyr): there is no package called 'dplyr'