# Instacart Market Basket Analysis

### Read in the data

In [4]:
# data_path <- "C:/Users/joseph.chen/MyData/Kaggle/instacart/"
data_path <- read.table("data/README.txt")$V1

In [5]:
paste(data_path,"orders.csv", sep="")

[1] "C:\\Users\\joseph.chen\\MyData\\Kaggle\\instacart\\orders.csv"

In [6]:
orders <- read.csv(paste(data_path,"orders.csv", sep=""))
products <- read.csv(paste(data_path,"products.csv", sep=""))
order_products <- read.csv(paste(data_path,"order_products__train.csv", sep=""))
order_products_prior <- read.csv(paste(data_path,"order_products__prior.csv", sep=""))
aisles <- read.csv(paste(data_path,"aisles.csv", sep=""))
departments <- read.csv(paste(data_path,"departments.csv", sep=""))

### Peek at the dataset

In [7]:
head(orders,3)

  order_id user_id eval_set order_number order_dow order_hour_of_day
1 2539329  1       prior    1            2          8
2 2398795  1       prior    2            3          7
3  473747  1       prior    3            3         12
  days_since_prior_order
1 NA
2 15
3 21

In [8]:
head(products,3)

  product_id product_name                         aisle_id department_id
1 1          Chocolate Sandwich Cookies            61      19
2 2          All-Seasons Salt                     104      13
3 3          Robust Golden Unsweetened Oolong Tea  94       7